
body {
    background: hsl(0, 0%, 100%);
    font-size: 1.1rem;
    font-weight: 600;
    font-family: "Kumbh Sans", sans-serif ;
    margin: 10px;
}

.nav{
    width: 100%;
    height: 10%;
    color: hsl(219, 9%, 45%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: solid hsl(223, 64%, 95%);
    margin-bottom: 15px;
    margin-top: 10px;
}
.left{
    width: 40%;
    height: 20%;
    justify-self: flex-start;
    justify-content: space-between;
    border-bottom: 0;
}
.right{
    width: 10%;
    align-content: flex-end;
    justify-content: space-evenly;
    border-bottom: 0;

}

.cart{
    align-self: center;
}

.product-window{
    display: flex;
    width: 70%;
    height: 70%;
    margin: 5%;
    justify-content: space-evenly;
    position: relative;
    left: 10%;

}
.photos{
    width: 400px;
}
.product-details{
    width: 30%;
    position: center;

}

.company-name{
    color: hsl(26, 100%, 55%);
}
.product-description{
    color: hsl(220, 14%, 75%);
}
.product-name{
    font-weight: 700;
}
.old-price{
    font-size: 1.3rem;
    color:  hsl(220, 14%, 75%);
    text-decoration: line-through;
    display: flex;
    position: relative;
    bottom: 50px;
}

.price{
    width: 7%;
    display: flex;
    font-size: 2.2rem;

}

.discount{
    height: 30px;
    width: 100px;
    color: hsl(26, 100%, 55%);
    background: hsl(25, 100%, 94%);
    border: solid 5px hsl(25, 100%, 94%);
    border-radius: 10px;
    align-self: center;
    position: relative;
    left: 10px;
    font-size: 1.2rem;
    display: flex;
    text-align: center;
}


.gallery{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    max-width: 100%;
}

.cart-menu {
    display: block;
    width: 300px;
    height: 400px;
    background: wheat;
    position: absolute;
    right: 30px;
    top: 35px;
    z-index: 5;
}
.add-to-cart{
    background: hsl(26, 100%, 55%);
    color: white;
    font-weight: 600;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    border: solid 5px hsl(26, 100%, 55%);
    border-radius: 5px;
;
}

.gridSpace {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;


}
.gridItem {
    height: 300px;
    width: 200px;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    border: black 1px solid;
    border-radius: 10px;
    margin: 5px;
}
.gridDetails{
    height: 100px;
    position: relative;
    bottom: 15px;
}
.discount-smaller{
    height: 25px;
    width: 50px;
    color: hsl(26, 100%, 55%);
    background: hsl(25, 100%, 94%);
    border: solid 5px hsl(25, 100%, 94%);
    border-radius: 10px;
    align-self: center;
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 1.1rem;
}
.price-smaller{
    width: 7%;
    display: flex;
    font-size: 1rem;
    position: relative;
    bottom: 30px;
}
.old-price-smaller{
    font-size: 0.8rem;
    color:  hsl(220, 14%, 75%);
    text-decoration: line-through;
    position: relative;
    bottom: 50px;
}